<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    
</head>
<body>

    <h1>ToDo List</h1>

    <ul>
        {% for task in taskes %}
            <li> {{ task.title }} ------------- {{task.date_created}}</li>
        {% endfor %}        
    </ul>

    <form method="post" action={% url "home" %}>
        {% csrf_token %}   
        {{ form }}
        <br>
        <input type="submit" value="Add to todo"> 
    </form>
    
</body>
</html>