{% extends './base.html' %}
{% load crispy_forms_tags %}

{%block content%}
    <!-- <h2>login</h2> -->
<div class="container mt-3">
    <form action="{% url 'login' %}" method="post">
        {%csrf_token%}
        <!-- <legend class="border-bottom mb-4">Log In</legend> -->

        <div class="form-group ">
            {{ form|crispy }}
        </div>
        <br>
        <input class="btn btn-success  " type="submit" value='login'>
        <input type="hidden" name="next" value="{% url  'home' %}">
    </form>
    <br>
    <span>New to here? </span> <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
</div>
{%endblock%}